@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
  font-family: 'Roboto', sans-serif;
}

.well {
  width: 60%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
  height: 15px;
}

tr, td {
  height: 15px;
}

tr:hover {
  background-color: #e7e7e7;
}

.navbar {
 list-style-type: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

.navbar-link {
 float: left;
 a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
 }
}

.navbar a:hover {
 background-color: #111;
}
