<div class="jumbotron text-center">
  <h1>Smart<img src="http://img.talkandroid.com/uploads/2015/01/Spotify-logo.png" alt="spotify logo" width="70">Recommendations</h1>
</div>

<h1>All Your Playlists</h1>

<% if @playlists.any? %>
  <% @playlists.each do |playlist| %>
    <h5><%= link_to playlist.name, playlist_path(playlist) %></h5>
  <% end %>
<% else %>
  <h3>You have no playlists.</h3>
<% end %>

<%= link_to "Add a Playlist", new_playlist_path %>
