<h1><%= @playlist.name %></h1>
<p>Playlist description: <%= @playlist.description %></p>

<% if @playlist.tracks.any? %>
  <div class="well">
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <% @playlist.tracks.each do |track| %>
        <tr>
          <td><%= track.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <p>This playlist is empty.</p>
<% end %>

<%= link_to "Return to Home", playlists_path %>
